.App {
  background-color: #F5F5F5;
  display: flex;
  min-height: 100vh;
}

 .left-part {
  width: 50%;
  padding: 20px;
 }

 .right-part {
  display: flex;
  flex-direction: column;
 }

 .right-part-header { 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 48px;
  padding-top: 36px;
 }
